@font-face {
    font-family: font_estudys;
    src: url('../fonts/OpenDyslexic-Regular.otf');
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: font_estudys, Arial, sans-serif;
}

.long-arrow-left{
    display: block;
    width: 15px;
    height: 15px;
    border-top: 4px solid #000;
    border-left: 4px solid #000;
}

.long-arrow-left{
    transform: rotate(-45deg);
}

.long-arrow-left::after{
    content: "";
    display: block;
    width: 4px;
    height: 30px;
    background-color: black;
    transform: rotate(-45deg) translate(9px, 3px);
    left: 0;
    top: 0;
  }